* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
header {

}

.articles-list {
    display: flex;
    flex-wrap: wrap;
    
}
.article {
    margin: 8px;
    padding: 16px;
    background-color: bisque;
    width: 300px;
    flex-shrink: 1;
    flex-grow: 1;
    
    
}