@import "breakpoints";
@import "variables";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
}
.page {
  width: 100%;
  overflow-x: hidden;
}
@media screen and (min-width: 400px) {
  .page {
    width: 1400px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
@import "common.scss";
@import "header.scss";
@import "headline.scss";
@import "about.scss";
@import "customers.scss";
@import "features.scss";
@import "footer.scss";
