$base-font-size: 18px;
$sm-font-size: 22px;
$md-font-size: 24px;
$lg-font-size: 56px;
$lg-mob-font-size: 40px;

$sm-border-radius: 2px;
$md-border-radius: 8px;

$color-light-blue: #00a1c612;
$color-secondary: #fff;
$color-blue: #3141c5;
$color-button: #3040c4;
$color-light: #f4f5f7;

$text-color-primary: #2b292d;
$text-color-secondary: #fff;
$text-color-blue-light: #3040c4;
