.about {
  background: #f4f5f7;
  padding: 46px 15px;
}
.about__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.article {
  margin-bottom: 20px;
}
.article__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
  color: #2b292d;
}
.article__text {
  font-size: 22px;
  color: #2b292d;
  margin-top: 8px;
}

@media screen and (min-width: 400px) {
  .about {
    padding: 77px 131px 76px 130px;
  }
  .about__wrapper {
    width: 1140px;
    flex-direction: row;
  }
  .article {
    margin-right: 29px;
    margin-bottom: 0;
  }
}
