.action__button {
  font-size: $base-font-size;
  background-color: #3040c4;
  color: $text-color-secondary;
  width: 160px;
  height: 48px;
  font-weight: 800;
  border-radius: 2px;
  border: none;
}
