.top-section {
  background-color: #f3c6bd;
  @include for-large-up {
    padding-top: 39px;
  }
}
.header {
  height: 64px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-left: 15px;

  @include for-large-up {
    background-color: #f3c6bd;
    width: 1140px;
    margin: auto;
    height: 62px;
    display: flex;
  }

  &__button {
    font-size: $base-font-size;
    display: none;
    @include for-large-up {
      display: block;
    }
  }

  &__menu-button {
    width: 58px;
    border: none;
    border-left: 1px solid #00000026;
    height: 100%;
    margin-left: auto;
    background: transparent;
    @include for-large-up {
      display: none;
    }
  }

  &__menu-icon {
    width: 18px;
    height: 13px;
    background-image: url(../icons/icons-mob/menu.png);
    display: inline-block;
  }
}
.navigation {
  display: none;
  @include for-large-up {
    display: block;
    margin-left: auto;
    margin-top: 7px;
    margin-right: 75px;
  }
  &__item {
    font-size: $base-font-size;
    color: #2b292d;
    text-decoration: none;
    line-height: 25px;
    margin-right: 50px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__item_selected {
    font-weight: 800;
  }
  &__arrow {
    display: inline-block;
    height: 5px;
    width: 8px;
    background-image: url(../icons/Arrow.png);
    margin-left: 11px;
  }
}

.logo {
  @include for-large-up {
    display: flex;
  }
  &__description {
    @include for-large-up {
      display: block;
      line-height: 25px;
      color: #2b292d;
      opacity: 0.6;
    }
  }

  &__name {
    @include for-large-up {
      font-size: 20px;
      line-height: 25px;
      font-weight: 800;
    }
  }
  &__image {
    @include for-large-up {
      width: 60px;
      height: 60px;
      margin-right: 15px;
    }
  }
}

.header .logo__description {
  @include for-large-down {
    display: none;
  }
}

.header .logo {
  display: flex;
}
.header .logo__image {
  width: 48px;
  height: 48px;
  margin-right: 13px;
  @include for-large-up {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }
}
.header .logo__name {
  font-size: 20px;
  line-height: 25px;
  font-weight: 800;
}

.header .logo__text {
  font-size: $base-font-size;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
