.contener {
    background-color: bisque;
    width: 420px;
    height: 140px;
    border-color: firebrick chartreuse burlywood aqua;
    border-style: solid solid dashed dashed ;
    border-width: 10px 20px;
    margin: 50px 100px;
    padding: 20px;
}