@import "breakpoints.scss";
* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
.container {
  @include for-medium-up {
    display: flex;
  }
}
.square {
  width: 100px;
  height: 100px;
  margin: 8px;
  background-color: #ff7f50;

  @include for-medium-up {
    background-color: #8a2be2;
  }

  @include for-medium {
    background-color: #a61;
  }

  @include for-large-up {
    background-color: #c47;
  }
}
